<div class="container">
  <!-- Content here -->
  <div class="row col-xs-2 page-header" style="margin-top:20px;">
    <img style= "width: 7%; height: 7%" src="/assets/images/Medline-logo.svg.png" alt="Mister Marbles head tilt">
  </div> 
  <div *ngIf="sucMsg">
    <span class="text-blur">Thank You</span>
    <h6>Your Message has been successfully Submitted</h6>
  </div>
  
<div *ngIf="showForm" class="registration">
 <div >
  <span class="text-blur">MEDLINE.COM</span>
  <h4>Account Registration</h4>
</div>

<div class="row col-xs-2 page-header text-blur">
  <p>USER INFORMATION</p>
</div>

  <div  style="margin-top:20px;">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="name">First Name</label>
        <input type="text" class="form-control" ngModel  required name="fname" #fname="ngModel">
        <span *ngIf="!fname.valid && fname.touched" class="help-block">This Field is required</span>
      </div>
      <div class="form-group col-md-4">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control"  required ngModel name="lastName" #lastName="ngModel">
        <span *ngIf="!lastName.valid && lastName.touched"class="help-block">This Field is required</span>
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="phone">Phone</label>
        <input type="text" class="form-control"  required ngModel  #phone="ngModel" name="phone">
        <span *ngIf="!phone.valid && phone.touched" class="help-block">This Field is required</span>
      </div>
      
      <div class="form-group col-md-2">
        <label for="ext">Ext</label>
        <input type="text" class="form-control" ngModel name="ext">
      </div>
    </div>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="Email">Email </label>
      <input type="email" class="form-control" required email name="email" ngModel  #email="ngModel">
      <span *ngIf="!email.valid && email.touched" class="help-block">PLease Enter the valid Email</span>
    </div>
  </div>

  <button
  class="btn btn-success"
  style="margin-left: 80%; margin-top: 10%;"
  type="submit"
  [disabled]="!f.valid">Next</button>
    
   
  </form>
  </div>

<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" [ngStyle]="{'display':display}" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"  id="exampleModalLabel">Modal title</h5>
        <button type="button" (click)="modalClose()"class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="formData" class="modal-body">
        <p>User has created succesfully with following details</p>
        <p>User Name : {{formData.fname}} {{ formData.lastName}}</p>
        <p>Email: {{formData.email}} </p>
        <p>Phone: {{formData.phone}} </p>
      </div>
      <div class="modal-footer">
        
        <button type="button" (click)="modalSubmit()" class="btn btn-success">OK</button>
      </div>
    </div>
  </div>
</div>
</div>
  <hr>
  <footer class="page-footer font-small" style="background-color: blue; margin-top: 10px;">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href=""> medline.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
</div>



